<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            background-color: black;   

        }

       .flex{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

       }

        .container{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 7%;
            height: 400px;
            width: 650px;
            background-color: rgba(220, 171, 171, 0.262);
            opacity: .7;
            border: 2px solid whitesmoke;
            border-radius: 20px;
            margin-left: -2%;
            

        }

        img{
            border: 2px solid whitesmoke;
            border-radius: 20px;
            margin-top: 20px;
        }
        
        h1{
           font-size: 40px;
           color: aliceblue;
        }
        button{
            padding: 20px;
            text-align: center;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
            background-color: rgba(220, 171, 171, 0.262);
            padding-right: 25%;
            padding-left: 25%;     
            margin-top: 3%;
            color: aliceblue;
        }
       
    </style>
    <div class="flex">
    <div class="container">
     <div><img src="https://uberhumor.com/wp-content/uploads/2012/04/c1sCa.jpg" height="350px" ></div>
     <div><h1>FUCK YOU BRO </h1></div><br>
    
    </div> 
    <div>
        <h1 class="h">HEY PANDA</h1>
        <h1 >IT'S JUST A PRANK </h1>
        <H1>TO KNOW THE SURPRISE</H1>
        <a href="http://localhost:3000/surprize"><button>CLICK HERE</button></a>
    </div>
</div>
</body>
</html>